<!DOCTYPE html>
<html>
  <head>
    <title><%= t(:app_name) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if I18n.locale == I18n.default_locale %>
      <%= link_to '英語', { locale: :en } %>
    <% else %>
      <%= link_to 'Japanese', { locale: :ja } %>
    <%end%>
    <%= yield %>
  </body>
</html>
